.PageTitle {
  background: linear-gradient(90deg, #d3e8f6, #a8d0f0);
  border-left: 8px solid #357be8;
  width: 70vw;
  padding: 8px 20px;
  margin: 10px 0;
}

.PageTitle h1 {
  padding-left: 20px;
  font-size: 1.5rem;
}

.PageTitle p {
  padding-left: 20px;
  font-size: 1rem;
}
