@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.center {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.btn {
  /* cor destaque: #357be8 */
  padding: 0.4rem 0.5rem;
  margin: 0 10px;
  border: 3px solid #1e1e24;
  color: #1e1e24;
  background-color: #fdfffc;
  text-transform: lowercase;
  transition: 0.47s;
  outline: none;
}

.btn:hover {
  border: 3px dotted #357be8;
  border-radius: 30px;
  outline: none;
  color: #357be8;
  transition: 0.32s;
  box-shadow: rgba(17, 46, 92, 0.142) 3px 3px;
}

.input {
  line-height: 40px;
  width: 20vw;
  font-size: 1.4rem;
  margin: 10px 0;
}

.red {
  font-weight: 700;
  color: #357be8;
  font-size: 2rem;
}

.ul {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

.list {
  font-size: 13pt;
  list-style: none;
  margin: 10px;
}
